@media (max-width: 600px) {
    .hiddenOnMobile {
        display: none;
    }
}


.jumbotron p{
	font-size: 1em;
}

.bodyContent{
	padding: 10px;
}


footer{
	background-color: red!important;
}















