/* style.css
 * This file provides css styles.
 */



a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

.spacer{
	height: 35px; 
	clear: both;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

h2{ 
	color: #26343f;
	text-align: center;
	font-weight: bold;
}




/****************************
 ***************************/



.highlight{
	color: #a1a1a1;
	font-size: 2em;
	text-align:center;	
}

.valF{
	display:none;
}

.chart{
	background-color: #f6f6f6;
	border: 1px solid #000;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

ul.description{
	border: 1px solid black;
	border-radius: 6px;
	padding: 10px;
}

ul.description li{
	margin-left: 20px;
}



/*
** Insights
*/

.wrapper{
	margin: auto;
	width: 260px;
	padding: 60px 0 ;
}

.avg {
	color: #088e14;
	font-size: 55px;
	font-weight: bold;
	display: inline-block;
	line-height: 40px;

}
.extent{
	display: inline-block;
}

.highest, .lowest {
	color: #ff0000;
	font-size: 20px;
	font-weight: bold;
}
.lowest{color: #0050b4}

.insights .title{
	font-size: 30px;
	color: #26343f;
	font-weight: bolder;
	margin-top: -20px;
}


